.App {
  height: 100%;
}

.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}

.container:after {
  content: "";
  display: block;
  height: 60px;
}

#app-header {
  padding-top: 25px;
  margin-bottom: 25px;
}
